<div class="show_post">
  <div class="post_title">
    <h5>
      {{this.postItems.title}}
    </h5>
  </div>
  <div class="post_body">
    <p>{{this.postItems.body}}</p>
  </div>
</div>

{{#if this.local.isMyPost}}
  <div class="edit_delete_buttons">
    <p>{{this.deleteSucceedMessage}}</p>
    <span class="delete_button">
      <button {{on "click" this.deleteThePost}}>{{this.deleteButtonText}}</button>
    </span>
    <span class="edit_button">
      <LinkTo @route="authenticated.edit-post" @model={{this.local.currentID}}>
        <button {{on "click" this.funcA}}>Edit</button>
      </LinkTo>
    </span>
  </div>
{{/if}}


{{yield}}