<div class="show_post">
  <div class="post_title">
    <h5 {{on "click" this.getCurrentData}}>
      {{this.postItems.title}}
    </h5>
  </div>
  <div class="post_body">
    <p>{{this.postItems.body}}</p>
  </div>
</div>

{{#if this.local.isMyPost}}
  <LinkTo @route="authenticated.posts">
    <div class="edit_button">
      <button {{on "click" this.funcA}}>Edit</button>
    </div>
  </LinkTo>
{{/if}}


{{yield}}